/* =========================================
   Reset
========================================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================================
   Body
========================================= */

body {
    font-family: var(--font-family);

    background: var(--color-background);
    color: var(--color-text);

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    line-height: 1.5;
}

/* =========================================
   Header
========================================= */

header {
    position: sticky;
    top: 0;
    z-index: 100;

    background: var(--color-surface);

    border-bottom: 1px solid var(--color-border);

    padding: 18px;

    text-align: center;

    box-shadow: var(--shadow);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin-bottom: var(--space-md);
}

/* =========================================
   Main
========================================= */

main {
    flex: 1;

    width: 100%;
    max-width: 700px;

    margin: auto;

    padding: var(--space-md);

    padding-bottom: calc(var(--nav-height) + 30px);
}

/* =========================================
   Buttons
========================================= */

button {

    font: inherit;

    cursor: pointer;

    border: none;

    border-radius: var(--radius-md);

    transition: .15s;

}

button:active {

    transform: scale(.96);

}

/* =========================================
   Navigation
========================================= */

nav {

    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;

    height: var(--nav-height);

    display: grid;

    grid-template-columns: repeat(3,1fr);

    background: var(--color-surface);

    border-top: 1px solid var(--color-border);

}

nav button {

    background: transparent;

    color: var(--color-text-light);

    font-size: .85rem;

}

nav button:hover,
nav button:active {

    color: var(--color-primary);

}